{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--<link rel="stylesheet" href="./css/styles.css" />-->
  <link rel="stylesheet" href="{% static 'main/css/styles.css' %}?version=1.6" />
  <title>Basedism</title>
</head>

<body>
  <header class="navhead">
    <a class="logo" href="{% url 'main:index' %}">Basedism</a>
    <nav>
      <ul class="nav-area top-nav">
        <li><a href="{% url 'main:index' %}">Home</a></li>
          <li><a href="{%  url 'main:deities' %}">Deities</a></li>
          <li><a href="{% url 'main:rituals' %}">Rituals</a></li>
          <li><a href="{% url 'polls:form' %}">Religion Quiz</a></li>
          <li><a href="{% url 'main:about' %}">About</a></li>
      </ul>
    </nav>
  </header>
  <div class="wrapper">
    <div class="home" id="home">

<div class="myForm">
        <form action="/form/" method="post">
            {% csrf_token %}
            {% for field in form %}
                <label class="question">{{ field.label }}</label>
                {{ field }}
{#                {% for option in field %}#}
{#                    {{ option }}#}
{#                {% endfor %}#}
        {% endfor %}

            <input type="submit" value="Submit">
        </form>
</div>
    </div>
  </div>
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#e5e5ff"
        fill-opacity="1"
        d="M0,192L48,170.7C96,149,192,107,288,106.7C384,107,480,149,576,186.7C672,224,768,256,864,250.7C960,245,1056,203,1152,202.7C1248,203,1344,245,1392,266.7L1440,288L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></path>
    </svg>
  </div>
</body>
</html>