{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}" />
    <title>Deities - Basedism</title>
  </head>
  <body>
    <header class="navhead">
      <a class="logo" href="{% url 'main:index' %}">Basedism</a>
      <nav>
        <ul class="nav-area top-nav">
          <li><a href="{% url 'main:index' %}">Home</a></li>
          <li><a href="{%  url 'main:deities' %}">Deities</a></li>
          <li><a href="{% url 'main:rituals' %}">Rituals</a></li>
          <li><a href="{% url 'polls:form' %}">Religion Quiz</a></li>
          <li><a href="{% url 'main:about' %}">About</a></li>
        </ul>
      </nav>
    </header>
    <div class="k">
        <h1>
            kachow
        </h1>
    </div>
  </body>
</html>
