{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}" />
    <title>Deities - Basedism</title>
  </head>
  <body>
    <header class="navhead">
      <a class="logo" href="{% url 'main:index' %}">Basedism</a>
      <nav>
        <ul class="nav-area top-nav">
          <li><a href="{% url 'main:index' %}">Home</a></li>
          <li><a href="{%  url 'main:deities' %}">Deities</a></li>
          <li><a href="{% url 'main:rituals' %}">Rituals</a></li>
          <li><a href="{% url 'polls:form' %}">Religion Quiz</a></li>
          <li><a href="{% url 'main:about' %}">About</a></li>
        </ul>
      </nav>
    </header>
    <div class="section">
      <div class="header">
        <h1>
          Deities of Basedism
        </h1>
      </div>
      <div class="God">
        <img class="acceptance" src="{% static 'main/assets/images/acceptance.png' %}" alt="acceptance img" />
        <h1>Harpia</h1>
      </div>
      <div class="Godp">
        <p>
          Harpia is the Godx of acceptance, both of self, and of other. Their importance to the ideology of Basedism is critical,
          as it emphasizes the focus on radical acceptance, the idea that people should be accepted regardless of immutable traits. 
          Within Basedism this idea is paramount, as everyone is deserving of love and acceptance. They are also the barer or hope when it comes
          to preventing the homogenization of the universe as a whole. They fight for the right for individuality, and this is why we pray to her
          , as she protects the most valuable parts of ourselves.
        </p>
      </div>
    </div>
    <div class="section">
      <div class="header">
        <h1>
          Deities of Basedism
        </h1>
      </div>
      <div class="God">
        <img class="acceptance" src="{% static 'main/assets/images/uniquness.jpg' %}" alt="uniquness img" />
        <h1>Orynthus</h1>
      </div>
      <div class="Godp">
        <p>
         Orynthus is the Godx of Uniqueness, pairing in harmony with Harpia. Harpia teaches us to accept, as Orynthus teaches us to express our individuality
         and express our special traits. Orynthus' primary principal is that the uniquness of a person cannot be detrimental to the world. It merely adds to the diversity of life
         which we value immensely. Special traits are celebrated within Basedism and believe that you individually improve the 
         lives of others around you through individual traits. Orynthus created Harpia to combat the return of the all-consuming insatiable void, seeking nothing but uniformity and sameness
         , the exact opposite of our mission.
        </p>
      </div>
    </div>
    <div class="section">
      <div class="header">
        <h1>
          Deities of Basedism
        </h1>
      </div>
      <div class="God">
        <img class="acceptance" src="{% static 'main/assets/images/triangl.png' %}" alt="acceptance img" />
        <h1>Phyaris</h1>
      </div>
      <div class="Godp">
        <p>
          Phyaris is the God of the Baserad Och Upplyst: the people who are enlightened. Purging the void is the highest achivement a person
          can achieve within Basedism, as you therefore reject the call of the chaotic state of sameness, and reach true radical acceptance, a core
          principal of Basedism. If you become enlightened, you break beyond the void that encompasses much of the world and exist in a plane 
          free of sameness.
        </p>
      </div>
    </div>
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#e5e5ff" fill-opacity="1" d="M0,192L48,170.7C96,149,192,107,288,106.7C384,107,480,149,576,186.7C672,224,768,256,864,250.7C960,245,1056,203,1152,202.7C1248,203,1344,245,1392,266.7L1440,288L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
    </div>
  </body>
</html>
