{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}" />
    <title>About - Basedism</title>
  </head>
  <body>
    <header class="navhead">
      <h1 class="logo">Basedism</h1>
      <nav>
        <ul class="nav-area top-nav">
          <li><a href="{% url 'main:index' %}">Home</a></li>
          <li><a href="{%  url 'main:deities' %}">Deities</a></li>
          <li><a href="{% url 'main:rituals' %}">Rituals</a></li>
          <li><a href="quiz/">Religion Quiz</a></li>
          <li><a href="{% url 'main:index' %}#about">About</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
