/*=============== All | Body ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #FFFFFC;
}

/*=============== Nav ===============*/

.navhead {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
  background-color: #e5e5ff;
}

.logo {
  cursor: pointer;
  color: black;
  transition: 0.3s;
}

.logo:hover {
  letter-spacing: 6px;
}

.nav-area {
  list-style: none;
}

.nav-area li {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
}

.nav-area li a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s;
}

.nav-area li a:hover {
  color: black;
  padding: 10px 10px;
  background-color: white;
  letter-spacing: 4px;
}

/*=============== Landing Header ===============*/

.wrapper {
  margin: 100px auto;
  max-width: 1100px;
}

.home {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-header {
  font-size: 40px;
  display: block;
  color: black;
  margin: auto;
}

.home-paragraph {
  font-size: 20px;
}

.home-img img {
  clip-path: circle(45%);
  height: 350px;
  width: 354px;
}

/*=============== About ===============*/

/*=quiz=*/

.myForm input, .myForm select {display: block; margin: 10px}